#sortItemCont {
    margin: 50px auto;
    justify-content: space-between;
    width: 1325px;
}

.itemCont {
    height: 800px;
    background-color: #2d2d30;
}

.itemCont h1 {
    text-align: center;
    color: white;
    font-weight: 200;
    font-size: 45px;
}

